.users-container {
  display: grid;
  grid-auto-rows: auto;
  width: 28rem;
  margin: 2rem;
}

.user-info-container {
  background-color: rgba(128, 128, 128, 0.041);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 0.2rem;
}

.img-container {
  justify-self: center;
  align-self: center;
}

img {
  border-radius: 5%;
}

p {
  margin: 0.75rem 0;
  color: black;
  word-wrap: break-word;
  font-size: medium;
}

.title {
  font-size: large;
}

Link {
  text-decoration: none;
}